form.kanyetrack {

}

input.kanyebox {
	width: 16px;
	height: 16px;
	margin-top: 1px;
	opacity: 0;
}

input.eigth + label {
	margin-right: 1px;
}

input.quarter + label {
	margin-right: 17px;
}

input.half + label {
	margin-right: 49px;
}

input.whole + label {
	margin-right: 113px;
}

input.2bar + label {
	margin-right: 241px;
}

.kanyebox + label{
    background:url('kanye-snips/empty.png') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.kanyebox:checked + label {
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}

form[data-name='choral'] .kanyebox:checked + label {
    background:url('kanye-snips/choral.png') no-repeat;
}

form[data-name='blocks'] .kanyebox:checked + label {
    background:url('kanye-snips/blocks.png') no-repeat;
}