.restart {
	position: absolute;
	right: .5em;
	top: .5em;
	color: white;
	font-size: 1.5em;
	font-weight: 900;
	cursor: pointer;
	font-family: "Courier New", monospace;
}

#menu li {
	cursor: pointer;
	font-style: italic;
	border: 1px dashed black;
	margin: .5em 1em;
	padding: .2em;
}

.center {
	text-align: center;
}

#pp {
	position: fixed;
	bottom: 5px;
	left: 5px;
	z-index: -99;
	border-left: 1px dashed black;
	border-bottom: 1px dashed black;
	width: 4em;
	height: 4em;
}

#point {
	width: 1px;
	height: 1px;
	position: relative;
	background-color: black;
}

#fourgan ul {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding-right: 100px;
	margin-bottom: 100px;
}

#fourgan ul li {
	display: inline;
}

#fourgan input[type="range"] {
	margin-right: -100px;
    -webkit-transform: rotate(270deg);
}